*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.cnt{
  width: 1200px;
  margin: 0 auto;
}
.padding-site{
  padding: 0 229px;
}
header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  height: 101px;
}
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 1;
      color: black;
      font-size: 27px;
      line-height: 32px;
      text-transform: uppercase;
      text-decoration: none;
      margin: 25px 0;
    }
      .logo img{
        margin-right: 13px;
      }
      .logo span {
        font-weight: 300;
        letter-spacing: 0.68px;
        color: #f16d7f;
      }
  .my-acc {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    opacity: 1;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .my-acc img {
      width: 9px;
      height: 6px;
      margin-left: 8px;
    }
.page{
  margin: 0 auto;
}
  nav{
    width: 680px;
    margin: 0 auto;
  }
  nav .menu{
    padding: 11px 0;
    list-style-type: none;
    display: flex;
    justify-content: center;


  }
  .menu-item{
    margin: 0 15px;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    box-sizing: border-box;
  }
  .menu li{
    border-bottom: solid 2px transparent;
  }
  .menu li:hover{
    border-bottom: solid 2px #f16d7f;
  }
.bg{
  height: 614px;
  background-color: #E8E8E8;
  display: flex;
  justify-content: flex-end;
}
  .bg .div-img{
  width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .bg-img{
    width: 543px;
    height: 614px;

  }
  .title-page{


  }

